<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectominecraft">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoMinecraft">
        <activity
            android:name=".Activity.EscenasActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AutoraActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HumanoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ZombieActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreeperActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PersonajesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EscenaDiaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EscenaNocheActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>